#container{
  width: 640px;
  margin: 0px auto;
  font: 20px verdana;
}
#information{
  text-align: center;
  margin:20px;
}
.button{
  background: black;
  color:White;
  padding: 5px 10px;
  text-decoration: none;
  border-radius: 5px;
}
